/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    background: black;
}

.flex-container {
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    background: gray;
}

.flex-header {
    flex: 0 1 auto;
    background: red;
    text-align: center;
}

.nav-left-pane {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    color: #333;
    cursor: pointer;
    z-index: 1;
}

.nav-left-arrow {
    position: absolute;
    top: 45%;
    left: 2%;
    transition: all 0.3s;
}

.nav-right-pane {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    color: #333;
    cursor: pointer;
    z-index: 1;
}

.nav-right-arrow {
    position: absolute;
    top: 45%;
    right: 2%;
    transition: all 0.3s;
}

.nav-left-pane:hover, .nav-right-pane:hover {
    color: #d9d9d9;
}

.flex-body {
    position: relative;
    flex: 1 1 auto;
    background: yellow;
    width: 100%;
    margin: 5px 0;
    overflow: hidden;
}

.flex-body img {
    position: absolute;
    object-fit: contain;
    height: 100%;
    width: 100%;
    z-index: 0;
    transition: all 0.75s;
}

.flex-footer-1 {
    flex: 0 1 auto;
    background: blue;
    color: white;
    text-align: center;
}

.flex-footer-2 {
    flex: 0 1 auto;
    background: green;
    text-align: center;
}